#App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #ef4444;
    letter-spacing: 0.05em;
    margin: 0;
}
